
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/foundation.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" href="css/styles.css">
	<script src="scripts/jquery.js"></script>
	<script type="text/javascript" src="scripts/foundation.min.js"></script>
	<script type="text/javascript" src="scripts/slick.min.js"></script>
	<script rel="stylesheet" type="text/javascript" src="scripts/main.js"></script>
</head>
<body>
				<!-- HEADER -->
	<header>
			<div id="header" class="">
					<div class="logoHeader">
						<img src="logo/Movieboxlogo.png" alt="Movie Box logo">
					</div>
					<div class="searchIcon">
						<img src="icon/LEIT.png" alt="">
					</div>
					<div class="small-12  headerText align-center align-self-middle">
						<h1>Welcome To Movie Box</h1>
					</div>
			</div>
	</header>

				<!-- BODY -->


	<!-- Category 1 Row-1 -->
	<div class="column">
		<div class="row column small-12 large-11 categoryText">
			<h2>Popular</h2>
		</div>
		<div class="row row-1 small-12 large-11  responsive">
			<% for(var i=0; i < data.results.length; i++) {%>
				<div class="small-11 large-3 movieImg">
					<a href="/movie/<%= data.results[i].id %>">
						<div class="columns small-10 medium-12 large-12 movieImgInfo">
							<div class="row">
								<div class="movieImgTitle">
									<h3><%= data.results[i].title %></h3>
								</div>
								<div class="starringInfo columns large-12">
									<ul class="row column">
									</ul>
								</div>
							</div>
						</div>
						<img src="https://image.tmdb.org/t/p/w500/<%= data.results[i].poster_path %>" alt="">
					</a>
				</div>
			<% } %>
		</div>
	<% for(var i=0; i<gdata.length; i++) {%>	
		<div class="row column small-12 large-11 categoryText">
			<h2><%= gdata[i].name %></h2>
		</div>	
		<div class="row row-1 small-12 large-11  responsive">
		<% for(var j=0; j < gdata[i].data.results.length; j++) {%>
				<div class="small-11 large-3 movieImg">
				<a href="/movie/<%= gdata[i].data.results[j].id %>">
					<div class="columns small-7 medium-12 large-12 movieImgInfo">
							<div class="row">
								<div class="large-10 small-10 movieImgTitle">
								<h3><%= gdata[i].data.results[j].title %></h3>
							</div>
							<div class="starringInfo columns large-12">
								<ul class="row column">
								</ul>
							</div>
						</div>
					</div>
					<img src="https://image.tmdb.org/t/p/w500/<%= gdata[i].data.results[j].poster_path %>" alt="">
					</a>
				</div>

		<% } %>
		</div>
	<% } %>
	</div>		

	<footer>
		<div id="footer">
			<div class="large-12 logoFooter align-self-bottom ">
				<img src="logo/Movieboxlogo.png" alt="">
			</div>
	</div>
	</footer>
</body>
</html>